<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Current Reservations:</h1>
  <% drummerReservations.forEach((reservation) => { %> 
    <p>Reservation ID: <%= reservation.id %><br>Reservation Date: <%= reservation.reservationDate %></p>
  <% }); %>

  <h1>Reservation Form:</h1>
  <form action="/reservation/<%= drummerId %>" method="POST">
    <input type="date" id="reservation_date" name="reservation_date" required /><br>
    <input type="number" id="drummer_id" name="drummer_id" value="<%= drummerId %>" hidden /><br>
    <input type="submit" id="update-button" value="Reserve!" />
  </form>
</body>
</html>